/* SITE HEADER */
#site-header {
	position: fixed;
    background: #8931da;
    z-index: 999;
    box-shadow: 0px 0px 4px 1px #8a8a8a;
    height:48px;
    width:100%;

}

#site-title {
	line-height: 48px;
	margin-left: 16px;
	color: white;
}