body {
	margin: 0;
	font-family: Roboto, Helvetica, sans-serif;
}

/* TYPOGRAPHY */
.title-deletion-count {
	color: red;
}

.title-addition-count {
	color: green;
}

/* PAGE TITLE */

#page-title {
	padding-top: 80px;
	padding-bottom: 16px;
}

#page-title-text {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 22pt;
	font-weight: normal;
	text-align: center;
}

/* YEAR OVERVIEW */

#year-overview {
	margin-left: 16px;
    margin-right: 16px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
	#year-overview {
		margin: 0 auto;
		max-width: 540px;
	}
}
@media screen and (min-device-width: 768px) {
	#year-overview {
		margin: 0 auto;
		max-width: 540px;
	}
}

/* PORTRAIT REVISIONS VISUALIZATION */
#portrait-revisions-viz {
	overflow-x: auto;
	margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
}
@media screen and (min-device-width: 768px) {
	#portrait-revisions-viz {
		overflow-x: auto;
		display: none;
	}
}

#portrait-revisions-viz-intro {
	margin-top: 0px;
	margin-bottom: 0px;
}

#portrait-revisions-viz-graphic {
	padding-top: 8px;
}

.portrait-revisions-viz-graphic-header {
	padding-top: 8px;
	padding-bottom: 8px;
}

.portrait-revisions-viz-bar-label {
	display:inline-block;
	line-height:32px;
	vertical-align:bottom;
	white-space:nowrap;
}

/* LANDSCAPE REVISIONS VISUALIZATION */

#landscape-revisions-viz {
	overflow-x: auto;
	display: none;
}
@media screen and (min-device-width: 768px) {
	#landscape-revisions-viz {
		overflow-x: auto;
		display: block;
	}
}
#landscape-revisions-viz-intro {
	width: 540px;
	margin: 0 auto;
	padding-bottom: 16px;
}

/* MISCELLANEOUS */

#archive-navigator {
	/*position: fixed;*/
    background: white;
    z-index: 999;
    /*box-shadow: 0px 0px 4px 1px #8a8a8a;*/
    /*padding-top: 64px;*/
    padding-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;

}

th {
	white-space: nowrap;
}

#year-selector {
	font-weight: normal;
	font-size: 22pt;
}

#title-selector {
	font-weight: normal;
	font-size: 12pt;
}

#num-insertions {
	font-weight: bold;
	color: #6C6389;
}

#num-deletions {
	font-weight: bold;
	color: #6C6389;
}

#section-title {
	padding-bottom: 16px;
}

#section-title-text {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 22pt;
	font-weight: normal;
	text-align: center;
}

hr {
	margin-left: 32px;
	margin-right: 32px;
}

.position-title {
	font-style: italic;
	padding-bottom: 8px;
}

.leader-name {
	padding-right: 8px;
	padding-left: 8px;
}

.branch-title {
	font-weight: bold;
}

.democrat-d {
	color: #00AEF3;
}

.independent-i {
	color: #777777;
}

.republican-r {
	color: #D8171E;
}

/* TABLET */
@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
	/*#content {
		font-family: Helvetica, sans-serif;	
		width: 540px;
		margin: 0 auto;
	}*/
}

@media screen and (min-device-width: 768px) {
	#content {	
		width: 540px;
		margin: 0 auto;
	}
}