body {
	font-family: Helvetica, sans-serif;
}

.usc-title-head {
	font-size: 34pt;
	text-align: center;
	margin-top: 48x;
	margin-bottom: 16px;
}

.usc-title-ital-spanner {
	font-style: italic;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 32px;
}

.chapter-head { 
    color: #3369E8;
    text-transform: capitalize;
}

.section-head {

}

.statutory-body {

}

.statutory-body-2em {
	margin-left: 10%;
}

.source-credit {
	font-style: italic;
}