6631. REPORTING REQUIREMENTS

(a) Local Educational Agencies.—
	Each local educational agency receiving a subgrant under subpart 2 shall submit to the State educational agency involved, on an annual basis until the last year in which the local educational agency receives such subgrant funds, a report on—
		(1) how the local educational agency is meeting the purposes of this part described in section 2101;
		(2) how the local educational agency is using such subgrant funds;
		(3) in the case of a local educational agency implementing a teacher or school leader evaluation system, the results of such evaluation system, except that such report shall not reveal personally identifiable information about an individual teacher or school leader; and
		(4) any such other information as the State educational agency may require, as long as student and teacher privacy is maintained.
(b) State Educational Agencies.—
	Each State educational agency receiving a grant under subpart 1 shall submit to the Secretary a report, on an annual basis until the last year in which the State educational agency receives such grant funds, on—
		(1) how the State educational agency is meeting the purposes of this part described in section 2101; and
		(2) how the State educational agency is using such grant funds.