6692. REPORTING REQUIREMENTS

(a) Eligible Entities And Academies.—
	Each eligible entity and each teacher or school leader preparation academy that receives funds from a State educational agency under this part shall prepare and submit annually to such State educational agency a report that includes—
		(1) a description of the progress of the eligible entity or teacher or school leader preparation academy, respectively, in meeting the purposes of this part;
		(2) a description of the programs and activities conducted by the eligible entity or teacher or school leader preparation academy, respectively, with funds received under this part;
		(3) how the eligible entity or teacher or school leader preparation academy, respectively, is using such funds; and
		(4) any such other information as the State educational agency may reasonably require.
(b) State Educational Agencies.—
	Each State educational agency that receives a grant under this part shall prepare and submit, annually, to the Secretary a report that includes—
		(1) a description of the programs and activities conducted by the State educational agency with grant funds received under this part;
		(2) a description of the progress of the State educational agency in meeting the purposes of this part described in section 2201;
		(3) how the State educational agency is using grant funds received under this part;
		(4) the methods and criteria the State educational agency used to award subgrants in a timely manner to eligible entities under section 2221 and, if applicable, funds in a timely manner to teacher or school leader academies under section 2211(d)(3)(B); and
		(5) the results of the periodic evaluations conducted under section 2231.