body {
	margin: 0;

}

/* PHONE */
#content {
	font-family: Helvetica, sans-serif;	
	margin-left: 16px;
	margin-right: 16px;
}

.page-content {


}

.page-content-internal {

}

.usc-title-head {
	font-size: 20pt;
	font-weight: normal;
	text-align: center;
	
}

.usc-title-ital-spanner {
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	color: #a3a3a3;
}

.chapter-head { 
	font-size: 16pt;
	font-weight: normal;
    color: #3369E8;
}

.section-head {
	font-weight: normal;
	font-size: 14pt;
}

.statutory-body {
	font-weight: normal;
	font-size: 12pt;
}

.statutory-body-1em {
	font-weight: normal;
	font-size: 12pt;
	margin-left: 16px;
}

.statutory-body-2em {
	font-weight: normal;
	font-size: 12pt;
	margin-left: 16px;
}

.source-credit {
	font-weight: normal;
	font-size: 12pt;
	font-style: italic;
	color: #a3a3a3;
}

/* TABLET */
@media screen and (min-device-width: 600px) and (max-device-width: 768px) {
	#content {
		font-family: Helvetica, sans-serif;	
		width: 540px;
		margin: 0 auto;
	}
}

/* DESKTOP */
@media screen and (min-device-width: 768px) {
	#content {
		font-family: Helvetica, sans-serif;	
		width: 540px;
		margin: 0 auto;
	}

}