<html>
	<head>
		<link href="../../../static/stylesheets/site-header.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/common.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/homepage.css" 
				rel="stylesheet" type="text/css">
		<meta name="google-site-verification" content="TlQWkjkXF77YMAM5QQ_FgBN4MunaqFWzAXnZYotlHVs" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Code We Live By</title>
	</head>
	<body>
		{% include "site-header.html" %}

		<div id="lede">
			<p>
				What does Congress actually do?
			</p>
			
			<p>
				As Americans, our lives and identities are deeply interconnected. We've all placed our faith in the idea that we are strongest when unified, and must work together to build a happier tomorrow for all Americans. In the legislative, executive, and judicial branches of government, we either directly or indirectly choose peers who we believe have earned the privilege lead us on that journey.

				And yet, the daily work of these brothers and sisters is shrouded in mystery. Most Americans have seen the famous Schoolhouse Rock video on how bills become law, but how to all the laws passed from 1789 to today relate to each other?

				What are the terms of the contract we've all implicitly signed?

					

				This is the code we live by.
			</p>
			<blockquote>
				"The United States Code is a consolidation and codification by subject matter of the general and permanent laws of the United 	States. It is prepared by the Office of the Law Revision Counsel [OLRC] of the United States House of Representatives."
			</blockquote>
		</div>

		<div id="yt-video-container">
			<iframe 
			    width="100%" height="280" 
			    src="http://www.youtube.com/embed/FFroMQlKiag" 
			    frameborder="0" align="middle" allowfullscreen>
			</iframe>
		</div>

		<div id="lede">
			

			As Americans, our lives and identities are deeply interconnected. We've all placed our faith in the idea that we are strongest when unified, and must work together to build a happier tomorrow for all Americans. In the legislative, executive, and judicial branches of government, we either directly or indirectly choose peers who we believe have earned the privilege lead us on that journey.

			And yet, the daily work of these brothers and sisters is shrouded in mystery. Most Americans have seen the famous Schoolhouse Rock video on how bills become law, but how to all the laws passed from 1789 to today relate to each other?

			What are the terms of the contract we've all implicitly signed?

				<blockquote>
					"The United States Code is a consolidation and codification by subject matter of the general and permanent laws of the United States. It is prepared by the Office of the Law Revision Counsel [OLRC] of the United States House of Representatives."
				</blockquote>

			This is the code we live by.
		</div>

	</body>
</html>