<html>
	<head>
		<link href="../../../static/stylesheets/site-header.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/us-code-title.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/year-title-archive.css" 
				rel="stylesheet" type="text/css">				
		<link href="../../../static/stylesheets/legislation-summary.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/congressional-summaries.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/common.css" 
				rel="stylesheet" type="text/css">
		<script src="../../../static/js/code-explorer.js"></script>
		<script src="../../../static/js/year-title-archive.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Code We Live By</title>

		{# Jinja Macros #}
		{% import 'macros.html' as macros %}
	</head>
	<body>
		{% include "site-header.html" %}
		
		<div id="page-title">
			<h1 id="page-title-text">
				{{year}} Title {{title}} Legislation
			</h1>
		</div>

		<div id="diff-up-iterator" onclick="scrollToPreviousDiff()">
		</div>
		<div id="diff-down-iterator" onclick="scrollToNextDiff()">
		</div>

		{% set congressionalData = data["congressional"] %}
		{% set annualData = data["annual"][year] %}

		<div id="archive-navigator" align="center">	
			Year:
			<select id="year-selector" onchange="updateYear()">
				{% for i in range(1994, 2016) %}
					{% if i == year %}
						<option selected value="{{i}}">{{i}}</option>
					{% else %}	
						<option value="{{i}}">{{i}}</option>
					{% endif %}
				{% endfor %}
			</select>

			Title:
			<select id="title-selector" onchange="updateTitle()">
				{% set numTitles = annualData["titleNames"].keys()|length %}

				{% for i in range(1, numTitles + 1) %}
					{% if i == title|int %}
						<option selected value="{{i}}">{{i}}</option>
					{% else %}	
						<option value="{{i}}">{{i}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>

		{% include "year-title-overview.html" %}

		{# Don't try to render revisions if we don't have the data. #}
		{% set titularData = data["titular"] %}
		{% if titularData.get(year|int) %}
			<div id="portrait-revisions-viz">
				<p id="portrait-revisions-viz-intro">
					The chart below indicates, per title, the number of additions and deletions made in {{year}}. 
					Tapping the bars for a particular title will load a separate page showing line-by-line changes,
					along with detailed information about the specific laws which contained those changes.
				</p>

				<table id="portrait-revisions-viz-graphic" align="center">
					{% set revisions = titularData %}
					{% set vars = {'verticalScale' : 0 } %}
					{% for key, value in revisions.iteritems() %}
						{% if vars['verticalScale'] < value['ins'] + value['del'] %}
							{% if vars.update({'verticalScale' : value['ins'] + value['del']})%}
							{% endif %}
						{% endif %}
						
					{% endfor %}
					{% set verticalScale = vars["verticalScale"] / 100 %}
					<tr class="portrait-revisions-viz-graphic-header" valign="baseline">
						<th class="portrait-revisions-viz-graphic-header" align="right">
							← Deletions
						</th>
						<th class="portrait-revisions-viz-graphic-header" align="center">
							Year
						</th>
						<th class="portrait-revisions-viz-graphic-header" align="left">
							Additions →
						</th>
					</th>

					{% for key, value in revisions.iteritems()|sort %}
						{# Repeat headers periodically to ensure it's always visible on screen. #}
						{% if key % 15 == 0 %}
							<tr valign="baseline">
								<th class="portrait-revisions-viz-graphic-header" align="right">
									← Deletions
								</th class="portrait-revisions-viz-graphic-header">
								<th align="center">
									Year
								</th>
								<th class="portrait-revisions-viz-graphic-header" align="left">
									Additions →
								</th>
							</th>
						{% endif %}

						{# Each horizontal bar will be equal to insertions + deletions + 32px for the title.
							To ensure the bars will fit on the screen without scrolling, scale them based on
							the device width. Assume that the widest device is 320px, so the bars must fit
							within 20px. Scale factor should be maxInsertions + maxDeletions / 200. #}
						{% set horizontal_scale = (revisions[year|int]["ins"] + revisions[year|int]["del"]) / 160 %}
						<tr style="white-space:nowrap;">
							<td align="right">
								<a href="/archive/annual/{{key}}/{{title}}">
									<div class="title-deletion-count portrait-revisions-viz-bar-label">
										–{{value["del"]}}
									</div>
									<div style="background-color:red; width:{{value['del'] / verticalScale}}; height:32px; display:inline-block; vertical-align:bottom; white-space:nowrap;">
									</div>
								</a>
							</td>
							<td align="center">
								<a href="/archive/annual/{{key}}/{{title}}">
								<div class="portrait-revisions-viz-bar-label" style="color: white; background-color:gray; width:48px; height:32px;">
										{{key}}
								</div>
								</a>
							</td>
							<td align="left">
								<a href="/archive/annual/{{key}}/{{title}}">
									<div style="background-color:green; width:{{value['ins'] / verticalScale}}; height:32px; display:inline-block; vertical-align:bottom; white-space:nowrap;">
									</div>
									<div class="title-addition-count portrait-revisions-viz-bar-label">
										+{{value["ins"]}}
									</div>
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>


			<div id="landscape-revisions-viz">
				<p id="landscape-revisions-viz-intro">
					The chart below indicates, per title, the number of additions and deletions made in {{year}} (scroll horizontally to
					see all titles). Clicking the bars for a particular title will load a separate page showing line-by-line changes,
					along with detailed information about the specific laws which contained those changes.
				</p>
				<table id="landscape-revisions-viz" align="center">
					{% set revisions = titularData %}
					{% set vars = {'verticalScale' : 0 } %}
					{% for key, value in revisions.iteritems() %}
						{% if vars['verticalScale'] < value['ins'] + value['del'] %}
							{% if vars.update({'verticalScale' : value['ins'] + value['del']})%}
							{% endif %}
						{% endif %}
						
					{% endfor %}
					{% set verticalScale = vars["verticalScale"] / 100 %}
					<tr>
						<td valign="bottom" align="center">
							<div style="background-color:white; width:60px;">
							</div>
						</td>
						<td valign="bottom" align="center">
							↑Additions↑
						</td>
						{% for key, value in revisions.iteritems() %}
							{# set verticalScale = 10 #}
							{% if key % 10 == 0 %}
								<td valign="bottom" align="center">
									↑Additions↑
								</td>
							{% endif %}
							<td valign="bottom" align="center">
								<a href="/archive/annual/{{key}}/{{title}}">
									<div style="color:green;">
										+{{value["ins"]}}
									</div>
									<div style="background-color:green; height:{{value['ins'] / verticalScale}}; width:60px;">
									</div>
								</a>
							</td>
						{% endfor %}
					</tr>
					<tr>
						<td valign="bottom" align="center">
							<div style="background-color:white; width:60px;">
							</div>
						</td>
						<td valign="middle" align="center">
							Title
						</td>
						{% for key, value in revisions.iteritems() %}
							
							{% if key != "total" %}
								{% if key % 10 == 0 %}
									<td valign="middle" align="center">
										Year
									</td>
								{% endif %}
								<td align="center">
									<a href="/archive/annual/{{key}}/{{title}}">
										<div style="background-color:gray; color:white;">
											{{key}}
										</div>
									</a>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
					<tr>
						<td valign="bottom" align="center">
							<div style="background-color:white; width:60px;">
							</div>
						</td>
						<td valign="top" align="center">
							↓Deletions↓
						</td>
						{% for key, value in revisions.iteritems() %}
							{# set verticalScale = 10 #}
							{% if key != "total" %}
								{% if key % 10 == 0 %}
									<td valign="top" align="center">
										↓Deletions↓
									</td>
								{% endif %}
								<td valign="top" align="center">
									<a href="/archive/annual/{{key}}/{{title}}">
										<div style="background-color:red; height:{{value['del'] / verticalScale}};">
										</div>
										<div style="color:red;">
											–{{value["del"]}}
										</div>
									</a>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				</table>
			</div>
		{% endif %}

		<hr class="section-divider">

		{% include "congressional-summaries.html" %}

		<hr class="section-divider">

		{% include 'code/diff/%d/usc-%d-%s-diff.html' % (year, year, title) %}

	</body>
</html>

