<html>
	<head>
		<link href="../../../static/stylesheets/year-archive.css" 
				rel="stylesheet" type="text/css">
		<script src="../../../static/js/year-archive.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Code We Live By</title>

		{# Jinja Macros #}
		{% import 'macros.html' as macros %}
	</head>
	<body>
		<div id="site-header">
			<a id="site-title" href="/">The Code We Live By</a>
		</div>
		
		<div id="page-title">
			<h1 id="page-title-text"> 
				<select id="year-selector" onchange="updateYear()">
					{% for i in range(1994, 2016) %}
						{% if i == year %}
							<option selected value="{{i}}">{{i}}</option>
						{% else %}	
							<option value="{{i}}">{{i}}</option>
						{% endif %}
					{% endfor %}
				</select>Legislation</h1>
		</div>

		{% set congressionalData = data["congressional"] %}
		{% set annualData = data["annual"][year] %}

		<div id="title-year-overview">

			<p>	
				In {{year}}, the 
				
				{# Add extra context of extent of revisions only if we have the data. #}
				{%- if congressionalData.keys()|length == 1 -%}
					{% set congress = congressionalData.keys()[0] %}
					{{ macros.ordinal_congress(congress) }}
				{%- else -%}
					{% set congresses = congressionalData.keys()|sort %}
					{{ macros.ordinal_number(congresses[0]) }}
					and 
					{{ macros.ordinal_number(congresses[1]) }}
					Congresses
				{% endif %}

				enacted {{annualData["numPublicLaws"]}} public laws

				{#- Add extra context of extent of revisions only if we have the data. -#}
				{%- if annualData["revisions"].get("total") -%}
					, yielding
					a total of {{annualData["revisions"]["total"]["ins"]}} additions and {{annualData["revisions"]["total"]["del"]}} deletions to the United States Code, with the most extensive changes focused on Titles <a href="/archive/annual/{{year}}/{{annualData['mostEdited'][0]}}">{{annualData["mostEdited"][0]}}</a>, <a href="/archive/annual/{{year}}/{{annualData['mostEdited'][1]}}">{{annualData['mostEdited'][1]}}</a>, and <a href="/archive/annual/{{year}}/{{annualData['mostEdited'][2]}}">{{annualData['mostEdited'][2]}}</a>
				{%- endif -%}.
			</p>

			<!-- Don't try to render revisions if we don't have the data. -->
			{% if annualData["revisions"].get("total") %}
				<div id="revisions-per-title-visualization">
					<table id="revisions-per-title-visualization" align="center">
						{% set revisions = annualData["revisions"] %}
						<tr valign="baseline">
							<th align="right">
								Deletions
							</th>
							<th align="center">
								Title
							</th>
							<th align="left">
								Additions
							</th>
						</th>
						{% for title, value in revisions.iteritems() %}
							{% if title != "total" %}
								<tr style="white-space:nowrap;">
									<td align="right">
										<a href="/archive/annual/{{year}}/{{title}}">
											<div style="color:red; display:inline-block; line-height:32px; vertical-align:bottom; white-space:nowrap;">
												+{{value["del"]}}
											</div>
											<div style="background-color:red; width:{{value['ins'] / 150}}; height:32px; display:inline-block; vertical-align:bottom; white-space:nowrap;">
												&nbsp;
											</div>
										</a>
									</td>
									<td align="center">
										<a href="/archive/annual/{{year}}/{{title}}">
										<div style="color: white; background-color:gray; width:32px; height:32px; display:inline-block; vertical-align:bottom; line-height:32px;">
												{{title}}
										</div>
										</a>
									</td>
									<td align="left">
										<a href="/archive/annual/{{year}}/{{title}}">
											<div style="background-color:green; width:{{value['ins'] / 150}}; height:32px; display:inline-block; vertical-align:bottom; white-space:nowrap;">
												&nbsp;
											</div>
											<div style="color:green; display:inline-block; line-height:32px; vertical-align:bottom; white-space:nowrap;">
												+{{value["ins"]}}
											</div>
										</a>
									</td>
								</tr>
							{% endif %}
						{% endfor %}
					</table>
				</div>


				<div id="revisions-per-title-visualization">
					<table id="revisions-per-title-visualization" align="center">
						{% set revisions = annualData["revisions"] %}
						<tr>
							{% for title, value in revisions.iteritems() %}
								{% if title != "total" %}
									<td valign="bottom" align="center">
										<div style="color:green;">
											+{{value["ins"]}}
										</div>
										<div style="background-color:green; height:{{value['ins'] / 100}}; width:60px;">
										</div>
									</td>
								{% endif %}
							{% endfor %}
						</tr>
						<tr>
							{% for title, value in revisions.iteritems() %}
								{% if title != "total" %}
									<td align="center">
										<div style="background-color:gray; color:white;">
											{{title}}
										</div>
									</td>
								{% endif %}
							{% endfor %}
						</tr>
						<tr>
							{% for title, value in revisions.iteritems() %}
								{% if title != "total" %}
									<td valign="top" align="center">
										<div style="background-color:red; height:{{value['del'] / 100}};">
										</div>
										<div style="color:red;">
											–{{value["del"]}}
										</div>
									</td>
								{% endif %}
							{% endfor %}
						</tr>
					</table>
				</div>
			{% endif %}

		</div>

		{% for congress in congressionalData.keys()|sort %}
			
			{% set overview = congressionalData[congress] %}

			<hr>

			<div id="congress-overview">
				<div id="section-title">
					<h1 id="section-title-text"> 
						{{ macros.ordinal_congress(congress) }}
					</h1>
				</div>

				<div id="leadership-summary">
					{% set president = overview["leadership"]["president"] %}
					{% set houseDemLeader = overview["leadership"]["houseDemLeader"] %}
					{% set houseRepLeader = overview["leadership"]["houseRepLeader"] %}
					{% set senateDemLeader = overview["leadership"]["senateDemLeader"] %}
					{% set senateRepLeader = overview["leadership"]["senateRepLeader"] %}

					{% set senate = overview["senate"] %}
					{% set house = overview["house"] %}

					{% set portraitHeight = "120px" %}

					<table align="center">
						<tr>
							<td align="center" colspan=2 class="branch-title">
								Executive
							</td>
						</tr>
						<tr>
							<td align="center" colspan=2 class="branch-title">
								<img src="/static/images/portraits/{{president.last_name.lower()}}.jpg" alt="{{president.last_name}}" height={{portraitHeight}}>
								</td>
							</tr>
							<tr>
								<td align="center" colspan=2>
									{% if president.nickname %}
										{{president.nickname}} 
										{{president.last_name}}
									{% else %}
										{{president.first_name}}
										{{president.last_name}}
									{% endif %}
									{% if president.party == "D" %}
										(<span class="democrat-d">{{president.party}}</span>)
									{% elif president.party == "R" %}
										(<span class="republican-r">{{president.party}}</span>)
									{% endif %}
								</td>
							</tr>
							<tr>
								<td align="center" colspan=2 class="position-title">
									POTUS
								</td>
							</tr>
							<tr>
								<td align="center" colspan=1 class="branch-title">
									House
								</td>
								<td align="center" colspan=1 class="branch-title">
									Senate
								</td>
							</tr>
							<tr>
								<td align="center" colspan=1>
									<span class="democrat-d">
										{{house.democrats}} D</span> 
									• 
									{% if house.others > 0%}
									<span class="independent-i">
										{{house.others}} I</span> 
									•
									{% endif %}
									<span class="republican-r">
										{{house.republicans}} R</span>
								</td>
								<td align="center" colspan=1>
									<span class="democrat-d">
										{{senate.democrats}} D</span> 
									• 
									{% if senate.others > 0%}
									<span class="independent-i">
										{{senate.others}} I</span> 
									•
									{% endif %}
									<span class="republican-r">
										{{senate.republicans}} R</span>
								</td>
							</tr>
							<tr>
								<td align="center">
									{% if house.democrats >= house.republicans %}
										<img src="/static/images/portraits/{{houseDemLeader.last_name.lower()}}.jpg" alt="{{houseDemLeader.last_name}}" height={{portraitHeight}}>
									{% elif house.democrats < house.republicans %}
										<img src="/static/images/portraits/{{houseRepLeader.last_name.lower()}}.jpg" alt="{{houseRepLeader.last_name}}" height={{portraitHeight}}>
									{%endif%}
								</td>
								<td align="center">
									{% if senate.democrats >= senate.republicans %}
										<img src="/static/images/portraits/{{senateDemLeader.last_name.lower()}}.jpg" alt="{{senateDemLeader.last_name}}" height={{portraitHeight}}>
									{% elif senate.democrats < senate.republicans %}
										<img src="/static/images/portraits/{{senateRepLeader.last_name.lower()}}.jpg" alt="{{senateRepLeader.last_name}}" height={{portraitHeight}}>
									{%endif%}
								</td>
							</tr>
							<tr>
								<td align="center">
									{% if house.democrats >= house.republicans %}
										{% if houseDemLeader.nickname %}
											{{houseDemLeader.nickname}}
										{% else %}
											{{houseDemLeader.first_name}}
										{% endif %}
										{{houseDemLeader.last_name}}
										(<span class="democrat-d">{{houseDemLeader.party}}</span>–{{houseDemLeader.state}})
									{% elif house.democrats < house.republicans %}
										{% if houseRepLeader.nickname %}
											{{houseRepLeader.nickname}}
										{% else %}
											{{houseRepLeader.first_name}}
										{% endif %}
										{{houseRepLeader.last_name}}
										(<span class="republican-r">{{houseRepLeader.party}}</span>–{{houseRepLeader.state}})
									{%endif%}
								</td>
								<td align="center">
									{% if senate.democrats >= senate.republicans %}
										{% if senateDemLeader.nickname %}
											{{senateDemLeader.nickname}}
										{% else %}
											{{senateDemLeader.first_name}}
										{% endif %}
										{{senateDemLeader.last_name}}
										(<span class="democrat-d">{{senateDemLeader.party}}</span>–{{senateDemLeader.state}})
									{% elif senate.democrats < senate.republicans %}
										{% if senateRepLeader.nickname %}
										{{senateRepLeader.nickname}}
										{% else %}
											{{senateRepLeader.first_name}}
										{% endif %}
										{{senateRepLeader.last_name}}
										(<span class="republican-r">{{senateRepLeader.party}}</span>–{{senateRepLeader.state}})
									{%endif%}
								</td>
							</tr>
							<tr>
								<td align="center" class="position-title">
									{% if house.democrats == house.republicans %}
										Democratic Leader
									{% else %}
										Speaker
									{% endif %}
								</td>
								<td align="center" class="position-title">
									{% if senate.democrats == senate.republicans %}
										Democratic Leader
									{% else %}
										Majority Leader
									{% endif %}
								</td>
							</tr>
							<tr>
								<td align="center">
									{% if house.democrats >= house.republicans %}
										<img src="/static/images/portraits/{{houseRepLeader.last_name.lower()}}.jpg" alt="{{houseRepLeader.last_name}}" height={{portraitHeight}}>
									{% elif house.democrats < house.republicans %}
										<img src="/static/images/portraits/{{houseDemLeader.last_name.lower()}}.jpg" alt="{{houseDemLeader.last_name}}" height={{portraitHeight}}>
									{%endif%}
								</td>
								<td align="center">
									{% if senate.democrats >= senate.republicans %}
										<img src="/static/images/portraits/{{senateRepLeader.last_name.lower()}}.jpg" alt="{{senateRepLeader.last_name}}" height={{portraitHeight}}>
									{% elif senate.democrats < senate.republicans %}
										<img src="/static/images/portraits/{{senateDemLeader.last_name.lower()}}.jpg" alt="{{senateDemLeader.last_name}}" height={{portraitHeight}}>
									{%endif%}
								</td>
							</tr>
							<tr>
								<td align="center">
									{% if house.democrats >= house.republicans %}
										{% if houseRepLeader.nickname %}
											{{houseRepLeader.nickname}}
										{% else %}
											{{houseRepLeader.first_name}}
										{% endif %}
										{{houseRepLeader.last_name}}
										(<span class="republican-r">{{houseRepLeader.party}}</span>–{{houseRepLeader.state}})
									{% elif house.democrats < house.republicans %}
										{% if houseDemLeader.nickname %}
											{{houseDemLeader.nickname}}
										{% else %}
											{{houseDemLeader.first_name}}
										{% endif %}
										{{houseDemLeader.last_name}}
										(<span class="democrat-d">{{houseDemLeader.party}}</span>–{{houseDemLeader.state}})
									{%endif%}
								</td>
								<td align="center">
									{% if senate.democrats >= senate.republicans %}
										{% if senateRepLeader.nickname %}
											{{senateRepLeader.nickname}}
										{% else %}
											{{senateRepLeader.first_name}}
										{% endif %}
										{{senateRepLeader.last_name}}
										(<span class="republican-r">{{senateRepLeader.party}}</span>–{{senateRepLeader.state}})
									{% elif senate.democrats < senate.republicans %}
										{% if senateDemLeader.nickname %}
											{{senateDemLeader.nickname}}
										{% else %}
											{{senateDemLeader.first_name}}
										{% endif %}
										{{senateDemLeader.last_name}}
										(<span class="democrat-d">{{senateDemLeader.party}}</span>–{{senateDemLeader.state}})
									{%endif%}
								</td>
							</tr>
							<tr>
								<td align="center" class="position-title">
									{% if house.democrats == house.republicans %}
										Republican Leader
									{% else %}
										Minority Leader
									{% endif %}
								</td>
								<td align="center" class="position-title">
									{% if senate.democrats == senate.republicans %}
										Republican Leader
									{% else %}
										Minority Leader
									{% endif %}
								</td>
							</tr>
					</table>
				</div>


				<div id="legislative-summary">
					{% set publicLaws = overview["publicLaws"] %}

					{# Only print publicLaws if we have the data. #}
					{% if publicLaws|length > 0 %}

						<div id="legislative-summary-intro">
							Below are the most significant public laws passed by the
							{{ macros.ordinal_congress(congress) }} in {{year}}.
						</div>
						
						<div id="legislative-summary-content">
							<table id="legislative-summary-table" align="center">
								<tr>
									<th align="left" valign="baseline">
										Name
									</th>
									<th align="left" valign="baseline">
										Amended Titles
									</th>
									<th align="left" valign="baseline">
										Description
									</th>
									<th class="public-law-number" align="left" valign="baseline">
										Number
									</th>
									<th class="public-law-date" align="left" valign="baseline">
										Date Enacted
									</th>
								</tr>
								{% for publicLaw in publicLaws %}
									<tr>

										<td class="public-law-title" valign="top">
											{{publicLaw.title}}
										</td>
										<td class="public-law-amended-titles" valign="top">
											{% set numCommas = 1 %}
											{% for amended_title in publicLaw.amended_titles %}
												{% if numCommas < publicLaw.amended_titles|length %}
													<a href="/archive/annual/{{year}}/{{amended_title}}">{{amended_title}}</a>,
												{% else %}
													<a href="/archive/annual/{{year}}/{{amended_title}}">{{amended_title}}</a>
												{% endif %}
												{% set numCommas = numCommas + 1 %}
											{% endfor %}
										</td>
										<td class="public-law-description" valign="top">
											{{publicLaw.description}}
										</td>
										<td class="public-law-number" valign="top">
											<a href="http://legislink.org/us/pl-{{publicLaw.law_id}}">PL {{publicLaw.law_id}}</a>
										</td>
										<td class="public-law-date" valign="top">
											{{publicLaw.date_enacted}}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					{% else %}
						<div id="legislative-summary-intro">
							Though the {{ macros.ordinal_congress(congress) }} was technically in office for the first few weeks of January {{year}},
							it did not pass any significant legislation during that time.
						</div>
					{% endif %}
				</div>

			</div>

		{% endfor %}

	</body>
</html>

