<html>
	<head>
		<link href="../../../static/stylesheets/site-header.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/year-archive.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/legislation-summary.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/congressional-summaries.css" 
				rel="stylesheet" type="text/css">
		<link href="../../../static/stylesheets/common.css" 
				rel="stylesheet" type="text/css">
		<script src="../../../static/js/year-archive.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Code We Live By</title>

		{# Jinja Macros #}
		{% import 'macros.html' as macros %}
	</head>
	<body>
		{% include "site-header.html" %}
		
		<div id="page-title">
			<h1 id="page-title-text"> 
				Legislative Record
				<select id="year-selector" onchange="updateYear()">
					{% for i in range(1994, 2016) %}
						{% if i == year %}
							<option selected value="{{i}}">{{i}}</option>
						{% else %}	
							<option value="{{i}}">{{i}}</option>
						{% endif %}
					{% endfor %}
				</select></h1>
		</div>

		{% set congressionalData = data["congressional"] %}
		{% set annualData = data["annual"][year] %}

		<div id="year-overview">

			<p>	
				In {{year}}, 
				
				{# Add extra context of extent of revisions only if we have the data. #}
				{%- if congressionalData.keys()|length == 1 -%}
					{% set congress = congressionalData.keys()[0] %}
					{% set president = congressionalData[congress]["leadership"]["president"] %}
					President {{president.last_name}} and the {{ macros.ordinal_congress(congress) }}
				{%- else -%}
					{% set congresses = congressionalData.keys()|sort %}
					the
					{{ macros.ordinal_number(congresses[0]) }}
					and 
					{{ macros.ordinal_number(congresses[1]) }}
					Congresses
				{% endif %}

				enacted {{annualData["numPublicLaws"]}} public laws

				{#- Add extra context of extent of revisions only if we have the data. -#}
				{%- if annualData["revisions"].get("total") -%}
					, yielding
					a total of <span class="title-addition-count">{{annualData["revisions"]["total"]["ins"]}}</span> additions and <span class="title-deletion-count">{{annualData["revisions"]["total"]["del"]}}</span> deletions to the United States Code, with the most extensive changes focused on Titles <a href="/archive/annual/{{year}}/{{annualData['mostEdited'][0]}}">{{annualData["mostEdited"][0]}} ({{annualData["titleNames"][annualData["mostEdited"][0]]}})</a>, <a href="/archive/annual/{{year}}/{{annualData['mostEdited'][1]}}">{{annualData['mostEdited'][1]}} ({{annualData["titleNames"][annualData["mostEdited"][1]]}})</a>, and <a href="/archive/annual/{{year}}/{{annualData['mostEdited'][2]}}">{{annualData['mostEdited'][2]}} ({{annualData["titleNames"][annualData["mostEdited"][2]]}})</a>
				{%- endif -%}.
			</p>

		</div>

		{# Don't try to render revisions if we don't have the data. #}
		{% if annualData["revisions"].get("total") %}
			<div id="portrait-revisions-viz">
				<p id="portrait-revisions-viz-intro">
					The chart below indicates, per title, the number of additions and deletions made in {{year}}. 
					Tapping the bars for a particular title will load a separate page showing line-by-line changes,
					along with detailed information about the specific laws which contained those changes.
				</p>

				<table id="portrait-revisions-viz-graphic" align="center">
					{% set revisions = annualData["revisions"] %}
					<tr class="portrait-revisions-viz-graphic-header" valign="baseline">
						<th class="portrait-revisions-viz-graphic-header" align="right">
							← Deletions
						</th>
						<th class="portrait-revisions-viz-graphic-header" align="center">
							Title
						</th>
						<th class="portrait-revisions-viz-graphic-header" align="left">
							Additions →
						</th>
					</th>

					{% for title, value in revisions.iteritems() %}
						{% if title != "total" %}

							{# Repeat headers periodically to ensure it's always visible on screen. #}
							{% if title % 15 == 0 %}
								<tr valign="baseline">
									<th class="portrait-revisions-viz-graphic-header" align="right">
										← Deletions
									</th class="portrait-revisions-viz-graphic-header">
									<th align="center">
										Title
									</th>
									<th class="portrait-revisions-viz-graphic-header" align="left">
										Additions →
									</th>
								</th>
							{% endif %}

							{# Each horizontal bar will be equal to insertions + deletions + 32px for the title.
								To ensure the bars will fit on the screen without scrolling, scale them based on
								the device width. Assume that the widest device is 320px, so the bars must fit
								within 20px. Scale factor should be maxInsertions + maxDeletions / 200. #}
							{% set horizontal_scale = (revisions[annualData['mostEdited'][0]]["ins"] + revisions[annualData['mostEdited'][0]]["del"]) / 160 %}
							<tr style="white-space:nowrap;">
								<td align="right">
									<a href="/archive/annual/{{year}}/{{title}}">
										<div class="title-deletion-count portrait-revisions-viz-bar-label">
											–{{value["del"]}}
										</div>
										<div style="background-color:red; width:{{value['ins'] / horizontal_scale}}; height:32px; display:inline-block; vertical-align:bottom; white-space:nowrap;">
										</div>
									</a>
								</td>
								<td align="center">
									<a href="/archive/annual/{{year}}/{{title}}">
									<div class="portrait-revisions-viz-bar-label" style="color: white; background-color:gray; width:32px; height:32px;">
											{{title}}
									</div>
									</a>
								</td>
								<td align="left">
									<a href="/archive/annual/{{year}}/{{title}}">
										<div style="background-color:green; width:{{value['ins'] / horizontal_scale}}; height:32px; display:inline-block; vertical-align:bottom; white-space:nowrap;">
										</div>
										<div class="title-addition-count portrait-revisions-viz-bar-label">
											+{{value["ins"]}}
										</div>
									</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>


			<div id="landscape-revisions-viz">
				<p id="landscape-revisions-viz-intro">
					The chart below indicates, per title, the number of additions and deletions made in {{year}} (scroll horizontally to
					see all titles). Clicking the bars for a particular title will load a separate page showing line-by-line changes,
					along with detailed information about the specific laws which contained those changes.
				</p>
				<table id="landscape-revisions-viz" align="center">
					{% set revisions = annualData["revisions"] %}
					{% set verticalScale = (revisions[annualData['mostEdited'][0]]["ins"] + revisions[annualData['mostEdited'][0]]["del"]) / 120 %}
					<tr>
						<td valign="bottom" align="center">
							<div style="background-color:white; width:60px;">
							</div>
						</td>
						<td valign="bottom" align="center">
							↑Additions↑
						</td>
						{% for title, value in revisions.iteritems() %}
							{% if title != "total" %}
								{% if title % 10 == 0 %}
									<td valign="bottom" align="center">
										↑Additions↑
									</td>
								{% endif %}
								<td valign="bottom" align="center">
									<a href="/archive/annual/{{year}}/{{title}}">
										<div style="color:green;">
											+{{value["ins"]}}
										</div>
										<div style="background-color:green; height:{{value['ins'] / verticalScale}}; width:60px;">
										</div>
									</a>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
					<tr>
						<td valign="bottom" align="center">
							<div style="background-color:white; width:60px;">
							</div>
						</td>
						<td valign="middle" align="center">
							Title
						</td>
						{% for title, value in revisions.iteritems() %}
							
							{% if title != "total" %}
								{% if title % 10 == 0 %}
									<td valign="middle" align="center">
										Title
									</td>
								{% endif %}
								<td align="center">
									<a href="/archive/annual/{{year}}/{{title}}">
										<div style="background-color:gray; color:white;">
											{{title}}
										</div>
									</a>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
					<tr>
						<td valign="bottom" align="center">
							<div style="background-color:white; width:60px;">
							</div>
						</td>
						<td valign="top" align="center">
							↓Deletions↓
						</td>
						{% for title, value in revisions.iteritems() %}
							{% if title != "total" %}
								{% if title % 10 == 0 %}
									<td valign="top" align="center">
										↓Deletions↓
									</td>
								{% endif %}
								<td valign="top" align="center">
									<a href="/archive/annual/{{year}}/{{title}}">
										<div style="background-color:red; height:{{value['del'] / verticalScale}};">
										</div>
										<div style="color:red;">
											–{{value["del"]}}
										</div>
									</a>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				</table>
			</div>
		{% endif %}

		<hr class="section-divider"> 

		{% include "congressional-summaries.html" %}

	</body>
</html>

